<p id="notice"><%= notice %></p>

<%= form_for @person, html: {class: "form-horizontal", role: "form"} do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
      <div class="form-group">
        <div class="col-md-6"><%= f.text_field :host, :placeholder => "host", class: "form-control", disabled: true %></div>
        <div class="col-md-3"><%= f.text_field :username, :placeholder => "username", class: "form-control", disabled: true  %></div>
      </div>
    <hr>
    <div class="form-group">
      <div class="col-md-6">
        <%= f.text_field :name, :placeholder => "name", class: "form-control", disabled: true   %>
      </div>
      <div class="col-md-6">
        <%= f.text_field :last_name, :placeholder => "last name", class: "form-control", disabled: true   %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-6">
        <%= f.text_field :job_title, :placeholder => "job title", class: "form-control", disabled: true  %>
      </div>
      <div class="col-md-6">
        <%= f.text_field :company, :placeholder => "company", class: "form-control", disabled: true  %>
      </div>      
    </div>
    <div class="form-group">
      <div class="col-md-6">
        <%= f.text_field :phone, :placeholder => "phone", class: "form-control", disabled: true   %>
      </div>
      <div class="col-md-6">
        <%= f.text_field :email, :placeholder => "email", class: "form-control", disabled: true   %>
      </div>      
    </div>
      <div class="form-group">
      <div class="col-md-12">
        <%= f.text_field :website, :placeholder => "website", class: "form-control", disabled: true   %>        
      </div>
    </div>
  <br>
  <div>
    <%= link_to "Edit", edit_person_path(@person), class: "btn btn-primary" %>
    <%= link_to 'Back', people_path, class: "btn btn-warning" %>
  </div>
<% end %>
